 #1events{
        width:60%;
        height:70%;
    }
    h1{
        color: white;
        background-color:#F15A22;
        text-align:center;
        width: 340px;
        height: 90px;
    }
    img{
/*        la taille de img */
        width: 400px;
        height:90px;
/*        por positione img droit avec h1*/
         position: relative;
        top: 21px;
    }
/*    cette  div class pour atelieh1 et img*/
    .atelimg{
        display: flex;
         flex-direction: row;
    }
/*    cette h3 est pour sinscrire */
    h3{
        height: 80px;
        width: 150px;
        color: white;
        text-align: center;
        background-color:#F15A22;
        position: relative;
        left: 911px;
        bottom: 41px;
    }
/*    cette clas est pour le paratexte*/
    #divPara1{
        position: relative;
        bottom: 100x;
    }
   #divPara1 > a{
        position: relative;
        left: 750px;
    }