
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900');

$orangeColor: #ea5920;
$mauveColor: #6a397c;
$textFont: 'Raleway';
%font { font-family : $textFont; }
%bouton { border-radius: 4px; padding: 10px 15px 10px 15px; color: #fff; background-color: $mauveColor; border: 1px solid; }
%input { border-radius: 4px; padding: 10px 15px 10px 15px; border: 1px solid $mauveColor;}

* {
    box-sizing: border-box;
}   

button {
    
    @extend %bouton;
    
}

input {
    @extend %input;
}

div  {
} 
div div {
    display : flex;
    flex-direction: column;
}
            
p:empty {
    display: none;
}

