@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900");
* {
  font-family: "Raleway"; }

button {
  border-radius: 4px;
  padding: 10px 15px 10px 15px;
  color: #fff;
  background-color: #6a397c;
  border: 1px solid; }

input {
  border-radius: 4px;
  padding: 10px 15px 10px 15px;
  border: 1px solid #6a397c; }

* {
  box-sizing: border-box; }

p:empty {
  display: none; }

div {
  width: 80%;
  display: flex;
  justify-content: space-around; }
  div div {
    display: flex;
    width: 30%;
    flex-direction: column; }
    div div h2 {
      align-self: center;
      color: #6a397c; }
    div div form {
      display: flex;
      flex-direction: column;
      /*height: 300px;*/
      justify-content: space-around;
      /*padding: 0 200px;*/ }
