@import url("https://fonts.googleapis.com/css?family=Ralewayo:300,400,500,700,900");
#headerSection {
  font-family: "Roboto"; }

#headerSection #headerTop #leftLinks a:nth-of-type(3), .ressourceBtn {
  border-radius: 4px;
  padding: 10px 15px 10px 15px; }

* {
  box-sizing: border-box; }

#headerSection {
  width: 1100px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto; }
  #headerSection #headerTop {
    display: flex;
    justify-content: space-between; }
    #headerSection #headerTop #leftLinks a:nth-of-type(3) {
      background-color: #ea5920;
      color: #fff; }
      #headerSection #headerTop #leftLinks a:nth-of-type(3) i {
        color: #fff; }
  #headerSection #navigationMenu {
    display: flex;
    justify-content: flex-end; }
    #headerSection #navigationMenu li {
      list-style-type: none;
      padding: 10px; }

#ressourceSection {
  width: 1100px;
  margin-left: auto;
  margin-right: auto; }

#ressourceSelect {
  margin: 10px 10px 10px 0;
  display: flex;
  justify-content: flex-start; }

.ressourceBtn {
  border: 2px solid #ea5920;
  margin: 15px;
  background-color: #ffffff;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 15px;
  color: #6a397c;
  transition-duration: 0.4s;
  cursor: pointer; }

.ressourceBtn:hover {
  background-color: #ea5920;
  color: #fff; }

#leftBtn {
  margin-left: 0; }

#ressourceParent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.ressourceChild {
  position: relative;
  margin-top: 60px;
  width: 300px; }
  .ressourceChild img {
    display: block;
    width: 100%;
    height: auto; }
  .ressourceChild .overlay {
    padding: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(234, 89, 32, 0.8);
    opacity: 0;
    transition: .5s ease; }
    .ressourceChild .overlay h2, .ressourceChild .overlay p, .ressourceChild .overlay a {
      color: #ffffff;
      font-family: "Roboto"; }
    .ressourceChild .overlay h2 {
      font-size: 15px; }
    .ressourceChild .overlay p {
      font-size: 13px; }
    .ressourceChild .overlay .infoLink {
      color: #fff; }

.ressourceChild:hover .overlay {
  opacity: 1; }

.hideRessource {
  display: none; }

.mfp-bg {
  width: 1105px;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

.white-popup-block h2, .white-popup-block h3, .white-popup-block a, .white-popup-block p {
  color: #fff;
  font-family: "Roboto"; }
