@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900");
button {
  border-radius: 4px;
  padding: 10px 15px 10px 15px;
  color: #fff;
  background-color: #6a397c;
  border: 1px solid; }

input {
  border-radius: 4px;
  padding: 10px 15px 10px 15px;
  border: 1px solid #6a397c; }

* {
  box-sizing: border-box; }

div div {
  display: flex;
  flex-direction: column; }

p:empty {
  display: none; }
