a { 
transition: 300ms ease-in-out background-color;
border-radius: 10px;
  
  &.open {
  }
}

.arrow-down-close {
  width: 100px;
  height: 50px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  
  &:before, &:after { 
    content: '';
    display: inline-block;
    height: 60px;
    width: 10px;
    background-color: #6a397c;
    border-radius: 10px;
    position: relative;
    transition: 300ms ease-in-out all;
  }

  &:before {
    transform: rotate(-45deg);
    left: 18px;
    top: -4px;
  }

  &:after {
    transform: rotate(45deg);
    left: 44px;
    top: -4px;
//    background-color: #6a397c;
  }

  &.open {
    &:before {
      transform: translateX(17px) rotate(-45deg);
        background-color: #e95a24;
    }
    &:after {
      transform: translateX(-17px) rotate(45deg);
        background-color: #e95a24;
    }
  }
}

