@import "bourbon";

.faq {
  max-width: 960px;
  margin: 0 auto;
  background: #fff;
  color: #4a4a4a;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
  padding-bottom: 20px;
  
  &_description {
    padding: 20px 20px 0 20px;
  }
  h1 {
    color: #186f7a;
    font-size: 1.5em;
    margin: 0 0 0.67em 0;
  }
}
.faq-collection {
  &_question, &_answer {
    padding: 10px 20px;
  }
  &_question {
    color: #104759;
    font-weight: bold;
    cursor: pointer;
    &:hover, &:active, &:focus {
      color: darken(#104759, 10%);
      outline: thin solid lighten(#104759, 10%);
      outline-offset: -1px;
    }
    &--visable {
      +.faq-collection_answer {
       // display: block;
      }
      i {
        transform: rotate(180deg);
      }
    }
    i {
      float: right;
      transition: 150ms ease-in-out;
      transform-origin: center;
    }
  }
  &_answer {
    color: #4a4a4a;
    margin: 0 0 20px 0;
    display: none;
    a {
      padding: 10px 0;
      display: block;
      i {
        margin-right: 10px;
      }
    }
  }
}

body {
  margin: 40px 0;
}


