@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900");
#headerTop, nav, #ressourceSection, #sign div, #eventSection, #compteSection, #info {
  width: 1100px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto; }

*, nav #navigationMenu {
  font-family: "Raleway"; }

#headerTop #leftLinks a:nth-of-type(3), .ressourceBtn, .ressourceChild .overlay .infoLink, .white-popup-block .lienBtn, #sign button {
  border-radius: 4px;
  padding: 10px 15px 10px 15px; }

#info button {
  border-radius: 4px;
  padding: 10px 15px 10px 15px;
  color: #fff;
  background-color: #6a397c;
  border: 1px solid; }

#headerTop, nav, #ressourceSection, #sign div, #eventSection, #compteSection, #info {
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px; }

#sign input, #info input, #info textarea {
  border-radius: 4px;
  padding: 10px 15px 10px 15px;
  border: 1px solid #6a397c; }

#sign > div::before, #eventSection .eventParent::before, #compteSection #profil::before, #mailer::before, #map::before, #faqParent::before {
  content: '';
  display: inline-block;
  position: relative;
  top: 100%;
  left: -13px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  border: 2px solid #ea5920; }

* {
  box-sizing: border-box; }

#headerTop {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  #headerTop #logo {
    width: 200px;
    margin-top: 50px; }
  #headerTop #leftLinks a {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 500;
    font-size: 12px; }
  #headerTop #leftLinks a:nth-of-type(2)::before {
    content: "|";
    padding: 10px;
    position: relative;
    left: -2px; }
  #headerTop #leftLinks a:nth-of-type(3) {
    margin-left: 50px;
    background-color: #ea5920;
    color: #fff; }
    #headerTop #leftLinks a:nth-of-type(3) i {
      padding-left: 10px;
      color: #fff; }
      #headerTop #leftLinks a:nth-of-type(3) i i {
        color: #fff; }

nav #navigationMenu {
  display: flex;
  justify-content: flex-end; }
  nav #navigationMenu li {
    list-style-type: none;
    padding: 10px; }
    nav #navigationMenu li a {
      padding-bottom: 30px;
      text-transform: uppercase;
      color: #4d4d4d;
      font-size: 14px;
      font-weight: 500;
      text-decoration: none; }
nav #ligneNav {
  position: absolute;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #6a397c;
  opacity: 0; }
nav #ligneNav::before {
  content: '';
  display: inline-block;
  position: relative;
  top: -10px;
  left: -22px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  border: 2px solid #6a397c; }

#ressourceSelect {
  margin: 10px 10px 30px 0;
  display: flex;
  justify-content: flex-start; }

.ressourceBtn {
  border: 2px solid #4d4d4d;
  margin: 15px;
  background-color: white;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 12px;
  color: #4d4d4d;
  transition-duration: 0.4s;
  cursor: pointer; }

.ressourceBtn:hover, .ressourceBtn:focus {
  background-color: #ea5920;
  border: 2px solid #ea5920;
  color: #fff;
  transition: 0.5s; }

#leftBtn {
  margin-left: 0; }

#ressourceParent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.ressourceChild {
  position: relative;
  margin-top: 0;
  margin-bottom: 50px;
  width: 300px; }
  .ressourceChild img {
    display: block;
    width: 100%;
    height: auto; }
  .ressourceChild .overlay {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(234, 89, 32, 0.8);
    opacity: 0;
    transition: .5s ease; }
    .ressourceChild .overlay h2, .ressourceChild .overlay p, .ressourceChild .overlay a {
      color: #ffffff;
      font-family: "Raleway"; }
    .ressourceChild .overlay h2 {
      font-size: 15px; }
    .ressourceChild .overlay p {
      font-size: 13px; }
    .ressourceChild .overlay .infoLink {
      margin-top: 10px;
      align-self: flex-end;
      border: 2px solid #fff;
      color: #fff;
      font-weight: 500;
      text-decoration: none; }
    .ressourceChild .overlay .infoLink:hover {
      background-color: #6a397c;
      border: 2px solid #6a397c;
      transition-duration: 0.4s; }

.ressourceChild:hover .overlay {
  opacity: 1; }

.hideRessource {
  display: none; }

.mfp-bg {
  width: 82%;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

.white-popup-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  margin-top: 100px; }
  .white-popup-block h2, .white-popup-block h3, .white-popup-block a, .white-popup-block p {
    color: #fff;
    font-family: "Raleway"; }
  .white-popup-block h2, .white-popup-block h3 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px; }
  .white-popup-block img, .white-popup-block iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px; }
  .white-popup-block p {
    line-height: 1.5;
    margin-bottom: 50px; }
  .white-popup-block .lienBtn {
    align-self: flex-end;
    background-color: white;
    text-decoration: none;
    color: #6a397c;
    font-weight: 600;
    transition-duration: 0.4s; }
    .white-popup-block .lienBtn i {
      padding-right: 5px; }
  .white-popup-block .lienBtn:hover {
    color: #fff;
    background-color: #ea5920;
    transition-duration: 0.4s; }

#sign button {
  color: #fff;
  background-color: #6a397c;
  border: 1px solid; }

#sign p:empty {
  display: none; }

#sign > div {
  border-left: 2px solid #ea5920;
  position: relative;
  height: 400px; }

#sign div {
  display: flex; }
  #sign div div {
    display: flex;
    width: 40%;
    flex-direction: column; }
    #sign div div h2 {
      align-self: flex-start;
      color: #4d4d4d; }
    #sign div div form {
      display: flex;
      flex-direction: column; }
      #sign div div form input, #sign div div form button {
        margin-bottom: 40px; }

#eventSection {
  margin-top: 100px; }
  #eventSection .eventParent {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    border-left: 2px solid #ea5920;
    position: relative;
    height: 280px;
    margin-bottom: 100px; }
  #eventSection .dateHeure {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    height: 300px;
    color: #6a397c; }
    #eventSection .dateHeure .date {
      font-weight: 600;
      font-size: 50px;
      margin: 0; }
      #eventSection .dateHeure .date p {
        margin: 0;
        font-family: Roboto; }
    #eventSection .dateHeure > p {
      font-size: 35px;
      font-weight: 400;
      font-family: Roboto; }
  #eventSection .eventDetail {
    width: 80%; }

.nomImg {
  margin: 0;
  display: flex;
  height: auto;
  position: relative; }
  .nomImg h2 {
    background-color: #ea5920;
    color: white;
    width: 40%;
    margin: 0;
    padding: 50px; }
  .nomImg img {
    width: 100%;
    margin: 0; }
  .nomImg button {
    border: none;
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: block;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    background-color: #4d4d4d; }

.descriptionIns {
  margin: 0;
  display: flex;
  height: auto; }
  .descriptionIns .description {
    font-size: 15px;
    line-height: 1.5;
    display: flex;
    width: 80%; }
    .descriptionIns .description button {
      align-self: flex-end;
      color: #ea5920;
      border: none;
      background-color: white; }
      .descriptionIns .description button i {
        color: #6a397c; }
  .descriptionIns .inscription {
    width: 20%;
    background-color: #ea5920;
    border: none;
    color: white;
    text-decoration: none;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center; }

#compteSection #profil {
  border-left: 2px solid #ea5920;
  position: relative;
  height: 400px; }

/* Style info*/
#mailer, #map, #faqParent {
  border-left: 2px solid #ea5920;
  position: relative; }

#info input, #info textarea {
  margin-bottom: 40px; }
#info h2 {
  margin-left: 50px;
  color: #4d4d4d; }

#mailerIntro {
  display: flex;
  font-weight: 800;
  font-size: 35px;
  width: 450px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto; }
  #mailerIntro p {
    text-align: center;
    color: #4d4d4d; }
  #mailerIntro i {
    font-size: 80px;
    color: #6a397c;
    font-weight: 800; }
  #mailerIntro i:first-of-type {
    margin-left: 20px; }
  #mailerIntro i:nth-of-type(2) {
    align-self: flex-end; }

#mailer {
  height: 450px;
  margin-bottom: 100px; }

#mailerForm {
  width: 40%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column; }

#map {
  height: 700px;
  margin-bottom: 100px; }
  #map figure {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #map figure figcaption {
      color: #4d4d4d;
      display: flex;
      margin-top: 20px;
      text-align: center; }
      #map figure figcaption i {
        color: #ea5920;
        margin-right: 20px; }
      #map figure figcaption address {
        font-weight: 500;
        font-size: 20px;
        font-style: normal; }
        #map figure figcaption address span {
          font-size: 15px; }

#faqParent {
  height: 600px; }

ul, li {
  list-style-type: none; }

#containerFaq {
  width: 100%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto; }

.faq li {
  padding: 10px 15px 10px 15px;
  margin-bottom: 20px; }

.faq li.q {
  background: #FFFFFF;
  font-weight: bold;
  font-size: 120%;
  cursor: pointer;
  color: #6A3875;
  border: 1px solid #6A3875;
  border-radius: 4px;
  padding: 10px 15px 10px 15px;
  width: 100%; }

.faq li.a {
  background: #FFFFFF;
  /*border: 1px solid #6A3875;
  border-radius: 4px;*/
  display: none;
  color: #6A3875; }

.rotate {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

@media (max-width: 800px) {
  #container {
    width: 90%; } }
