@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900");
*, nav #navigationMenu {
  font-family: "Raleway"; }

#headerTop #leftLinks a:nth-of-type(3), .ressourceBtn, .ressourceChild .overlay .infoLink, .white-popup-block .lienBtn, #sign button {
  border-radius: 4px;
  padding: 10px 15px 10px 15px; }

#headerTop, nav, #ressourceSection, #sign div, #eventSection, #compteSection {
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px; }

#sign input {
  border-radius: 4px;
  padding: 10px 15px 10px 15px;
  border: 1px solid #6a397c; }

#sign > div::before, #eventSection .eventParent::before, #compteSection #profil::before {
  content: '';
  display: inline-block;
  position: relative;
  top: 100%;
  left: -13px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  border: 2px solid #ea5920; }

* {
  box-sizing: border-box; }

#headerTop {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  #headerTop #logo {
    width: 200px;
    margin-top: 50px; }
  #headerTop #leftLinks a {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 500;
    font-size: 12px; }
  #headerTop #leftLinks a:nth-of-type(2)::before {
    content: "|";
    padding: 10px;
    position: relative;
    left: -2px; }
  #headerTop #leftLinks a:nth-of-type(3) {
    margin-left: 50px;
    background-color: #ea5920;
    color: #fff; }
    #headerTop #leftLinks a:nth-of-type(3) i {
      padding-left: 10px;
      color: #fff; }
      #headerTop #leftLinks a:nth-of-type(3) i i {
        color: #fff; }

nav #navigationMenu {
  display: flex;
  justify-content: flex-end; }
  nav #navigationMenu li {
    list-style-type: none;
    padding: 10px; }
    nav #navigationMenu li a {
      padding-bottom: 30px;
      text-transform: uppercase;
      color: #4d4d4d;
      font-size: 14px;
      font-weight: 500;
      text-decoration: none; }
nav #ligneNav {
  position: absolute;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #6a397c;
  opacity: 0; }
nav #ligneNav::before {
  content: '';
  display: inline-block;
  position: relative;
  top: -10px;
  left: -22px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  border: 2px solid #6a397c; }

#ressourceSelect {
  margin: 10px 10px 30px 0;
  display: flex;
  justify-content: flex-start; }

.ressourceBtn {
  border: 2px solid #4d4d4d;
  margin: 15px;
  background-color: white;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 12px;
  color: #4d4d4d;
  transition-duration: 0.4s;
  cursor: pointer; }

.ressourceBtn:hover, .ressourceBtn:focus {
  background-color: #ea5920;
  border: 2px solid #ea5920;
  color: #fff;
  transition: 0.5s; }

#leftBtn {
  margin-left: 0; }

#ressourceParent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.ressourceChild {
  position: relative;
  margin-top: 0;
  margin-bottom: 50px;
  width: 300px; }
  .ressourceChild img {
    display: block;
    width: 100%;
    height: auto; }
  .ressourceChild .overlay {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(234, 89, 32, 0.8);
    opacity: 0;
    transition: .5s ease; }
    .ressourceChild .overlay h2, .ressourceChild .overlay p, .ressourceChild .overlay a {
      color: #ffffff;
      font-family: "Raleway"; }
    .ressourceChild .overlay h2 {
      font-size: 15px; }
    .ressourceChild .overlay p {
      font-size: 13px; }
    .ressourceChild .overlay .infoLink {
      margin-top: 10px;
      align-self: flex-end;
      border: 2px solid #fff;
      color: #fff;
      font-weight: 500;
      text-decoration: none; }
    .ressourceChild .overlay .infoLink:hover {
      background-color: #6a397c;
      border: 2px solid #6a397c;
      transition-duration: 0.4s; }

.ressourceChild:hover .overlay {
  opacity: 1; }

.hideRessource {
  display: none; }

.mfp-bg {
  width: 82%;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

.white-popup-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  margin-top: 100px; }
  .white-popup-block h2, .white-popup-block h3, .white-popup-block a, .white-popup-block p {
    color: #fff;
    font-family: "Raleway"; }
  .white-popup-block h2, .white-popup-block h3 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px; }
  .white-popup-block img, .white-popup-block iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px; }
  .white-popup-block p {
    line-height: 1.5;
    margin-bottom: 50px; }
  .white-popup-block .lienBtn {
    align-self: flex-end;
    background-color: white;
    text-decoration: none;
    color: #6a397c;
    font-weight: 600;
    transition-duration: 0.4s; }
    .white-popup-block .lienBtn i {
      padding-right: 5px; }
  .white-popup-block .lienBtn:hover {
    color: #fff;
    background-color: #ea5920;
    transition-duration: 0.4s; }

#sign button {
  color: #fff;
  background-color: #6a397c;
  border: 1px solid; }

#sign p:empty {
  display: none; }

#sign > div {
  border-left: 2px solid #ea5920;
  position: relative;
  height: 400px; }

#sign div {
  display: flex; }
  #sign div div {
    display: flex;
    width: 40%;
    flex-direction: column; }
    #sign div div h2 {
      align-self: flex-start;
      color: #4d4d4d; }
    #sign div div form {
      display: flex;
      flex-direction: column; }
      #sign div div form input, #sign div div form button {
        margin-bottom: 40px; }

#eventSection .eventParent {
  display: flex;
  flex-wrap: wrap;
  border-left: 2px solid #ea5920;
  position: relative;
  height: 300px;
  margin-bottom: 100px; }
#eventSection .dateHeure {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 15%;
  height: 300px;
  color: #6a397c;
  font-weight: 500; }
  #eventSection .dateHeure p:first-of-type, #eventSection .dateHeure p:nth-of-type(2) {
    font-size: 50px;
    margin: 0; }
#eventSection .eventDetail {
  width: 80%; }

.nomImg {
  display: flex;
  height: auto;
  position: relative; }
  .nomImg h2 {
    background-color: #ea5920;
    color: white;
    width: 40%;
    margin: 0;
    padding: 10px; }
  .nomImg img {
    width: 100%;
    margin: 0; }
  .nomImg i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: block;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    background-color: #ea5920; }

.descriptionIns {
  display: flex;
  height: auto; }
  .descriptionIns .description {
    display: flex;
    width: 80%; }
    .descriptionIns .description button {
      align-self: flex-end;
      color: #ea5920;
      border: none;
      background-color: white; }
  .descriptionIns .inscription {
    width: 20%;
    background-color: #ea5920;
    border: none;
    color: white; }

#compteSection #profil {
  border-left: 2px solid #ea5920;
  position: relative;
  height: 400px; }
